:root{
    --color-primary-light:#F9F9F9;
    --color-primary-black:#2B2B2B;
    --color-nav-black:#101010;
    --color-background-black:#363636;
    --color-secondary-light:#FFFFFF;
    --color-background-light:#F7EFED;
    --color-primary-red:#F1485B;
    --color-primary-green:#7FA78B;
    --color-primary-blue:#33546D;
     --color-primary-grey:rgba(255, 255, 255, 0.3);
    // --color-primary-gray:#C4C4C4;
    // --color-primary-orange:#DC771F;


}
$bp-mobile:480px;
$bp-tablet: 768px;
$bp-desktop:1280px;

$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Comfortaa', sans-serif;
$font-size-base: 1rem;