@use "../utils/variables" as *;

.benefits {
  &__wrapper {
    margin: 0 auto;
    background-image: url(../img/benefits/benefits-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 57px 0;

    @media screen and (min-width: $bp-tablet) {
      gap: 30px;
    }
  }

  &__content {
    position: relative;
    background-color: rgba(58, 62, 89, 0.5);

    max-width: 255px;
    max-height: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    padding-top: 38px;
    fill: var(--color-primary-red);
    width: 90px;
    height: 90px;
  }

  &__name {
    padding-top: 22px;
    font-size: 25px;
    font-family: $font-secondary;
  }

  &__description {
    padding: 20px 34px 39px 34px;
    text-align: center;
  }
}
