@use "../utils/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.3s ease;
  background-color: var(--color-nav-black);

  &__container {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    gap: 10px;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__logo {
    padding: 20px 40px;
    display: block;
    width: 175px;
    height: 68px;
    fill: var(--color-background-light);
  }

  &__nav {
    display: flex;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: $bp-mobile) {
      gap: 30px;
    }
    @media screen and (min-width: $bp-desktop) {
      gap: 57px;
    }
  }

  &__nav-item {
    transition: bottom 280ms ease-in-out;

    &:after {
      border-bottom: 1px solid var(--color-primary-red);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }

    &:hover::after {
      bottom: auto;
      top: 0;
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 10px;

    &--phone,
    &--mail {
      display: flex;
      gap: 26px;
      align-items: center;
      justify-content: center;
    }
  }

  &__links {
    display: flex;
    gap: 14px;
  }
  &__icon {
    width: 18px;
    height: 15px;
    fill: var(--color-background-light);
  }
}
