@use "../utils/variables" as *;

.header {
  transition: all 0.3s ease;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 11;
  }

  &__logo {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      padding: 20px 40px;
      display: block;
      width: 175px;
      height: 68px;
      fill: var(--color-background-light);
    }
  }

  &__nav {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      align-items: center;
      gap: 57px;
    }
  }

  &__nav-item {
    transition: bottom 280ms ease-in-out;

    &:after {
      border-bottom: 1px solid var(--color-primary-red);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }

    &:hover::after {
      bottom: auto;
      top: 0;
      width: 100%;
    }
  }

  &__info {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &--phone,
      &--mail {
        display: flex;
        gap: 26px;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__icon {
    width: 18px;
    height: 15px;
    fill: var(--color-background-light);
  }

  &__mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }

  &__mobile-logo {
    width: 100px;
    height: 60px;
  }

  &__mobile-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    @media screen and (min-width: $bp-mobile) {
      font-size: var($font-size-base);
    }
  }

  &__burger {
    background-color: transparent;

    border: none;
    padding: 0;
    fill: var(--color-primary-red);
  }

  &__burger-icon {
    width: 50px;
    height: 50px;
  }
}
